In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import MinMaxScaler

In [2]:
df = pd.read_csv("Dataset_1.csv")

In [3]:
df

,City,Date,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,Benzene,Toluene,Xylene,AQI
0,Ahmedabad,2015-01-01,NaN,NaN,0.92,18.22,17.15,NaN,0.92,27.64,133.36,0.00,0.02,0.00,NaN
1,Ahmedabad,2015-01-02,NaN,NaN,0.97,15.69,16.46,NaN,0.97,24.55,34.06,3.68,5.50,3.77,NaN
2,Ahmedabad,2015-01-03,NaN,NaN,17.40,19.30,29.70,NaN,17.40,29.07,30.70,6.80,16.40,2.25,NaN
3,Ahmedabad,2015-01-04,NaN,NaN,1.70,18.48,17.97,NaN,1.70,18.59,36.08,4.43,10.14,1.00,NaN
4,Ahmedabad,2015-01-05,NaN,NaN,22.10,21.42,37.76,NaN,22.10,39.33,39.31,7.01,18.89,2.78,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26526,Visakhapatnam,2020-06-22,33.17,108.22,5.58,42.45,27.06,13.70,0.73,13.65,34.85,3.99,10.24,2.32,95.0
26527,Visakhapatnam,2020-06-25,13.45,58.54,2.30,21.60,13.09,12.27,0.41,8.19,29.38,1.28,5.64,0.92,77.0
26528,Visakhapatnam,2020-06-26,7.63,32.27,5.91,23.27,17.19,11.15,0.46,6.87,19.90,1.45,5.37,1.45,47.0
26529,Visakhapatnam,2020-06-28,24.38,74.09,3.42,26.06,16.53,11.99,0.52,12.72,30.14,0.74,2.21,0.38,70.0
26530,Visakhapatnam,2020-07-01,15.00,66.00,0.40,26.85,14.05,5.20,0.59,2.10,17.05,NaN,NaN,NaN,50.0

In [4]:
df.isnull().sum()

City           0
Date           0
PM2.5       4598
PM10       11140
NO          3582
NO2         3585
NOx         4185
NH3        10328
CO          2059
SO2         3854
O3          4022
Benzene     5623
Toluene     8041
Xylene     18109
AQI         4681
dtype: int64

In [5]:
df.shape

(26531, 15)

In [6]:
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(strategy='mean')
df.iloc[:,2:14]=imputer.fit_transform(df.iloc[:,2:14])

In [7]:
df.isnull().sum()

City          0
Date          0
PM2.5         0
PM10          0
NO            0
NO2           0
NOx           0
NH3           0
CO            0
SO2           0
O3            0
Benzene       0
Toluene       0
Xylene        0
AQI        4681
dtype: int64

In [8]:
df.drop('City',axis=1,inplace=True)

In [9]:
df

,Date,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,Benzene,Toluene,Xylene,AQI
0,2015-01-01,68.355228,117.301377,0.92,18.22,17.15,24.054523,0.92,27.64,133.36,0.000000,0.020000,0.000000,NaN
1,2015-01-02,68.355228,117.301377,0.97,15.69,16.46,24.054523,0.97,24.55,34.06,3.680000,5.500000,3.770000,NaN
2,2015-01-03,68.355228,117.301377,17.40,19.30,29.70,24.054523,17.40,29.07,30.70,6.800000,16.400000,2.250000,NaN
3,2015-01-04,68.355228,117.301377,1.70,18.48,17.97,24.054523,1.70,18.59,36.08,4.430000,10.140000,1.000000,NaN
4,2015-01-05,68.355228,117.301377,22.10,21.42,37.76,24.054523,22.10,39.33,39.31,7.010000,18.890000,2.780000,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26526,2020-06-22,33.170000,108.220000,5.58,42.45,27.06,13.700000,0.73,13.65,34.85,3.990000,10.240000,2.320000,95.0
26527,2020-06-25,13.450000,58.540000,2.30,21.60,13.09,12.270000,0.41,8.19,29.38,1.280000,5.640000,0.920000,77.0
26528,2020-06-26,7.630000,32.270000,5.91,23.27,17.19,11.150000,0.46,6.87,19.90,1.450000,5.370000,1.450000,47.0
26529,2020-06-28,24.380000,74.090000,3.42,26.06,16.53,11.990000,0.52,12.72,30.14,0.740000,2.210000,0.380000,70.0
26530,2020-07-01,15.000000,66.000000,0.40,26.85,14.05,5.200000,0.59,2.10,17.05,3.229081,8.480804,3.246213,50.0

In [10]:
df = df[~df['AQI'].isna()]

In [11]:
df = df.drop(['Date'],axis = 1)

In [12]:
df

,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,Benzene,Toluene,Xylene,AQI
28,83.13,117.301377,6.93,28.71,33.72,24.054523,6.93,49.52,59.76,0.020000,0.000000,3.140000,209.0
29,79.84,117.301377,13.85,28.68,41.08,24.054523,13.85,48.49,97.07,0.040000,0.000000,4.810000,328.0
30,94.52,117.301377,24.39,32.66,52.61,24.054523,24.39,67.39,111.33,0.240000,0.010000,7.670000,514.0
31,135.99,117.301377,43.48,42.08,84.57,24.054523,43.48,75.23,102.70,0.400000,0.040000,25.870000,782.0
32,178.33,117.301377,54.56,35.31,72.80,24.054523,54.56,55.04,107.38,0.460000,0.060000,35.610000,914.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
26526,33.17,108.220000,5.58,42.45,27.06,13.700000,0.73,13.65,34.85,3.990000,10.240000,2.320000,95.0
26527,13.45,58.540000,2.30,21.60,13.09,12.270000,0.41,8.19,29.38,1.280000,5.640000,0.920000,77.0
26528,7.63,32.270000,5.91,23.27,17.19,11.150000,0.46,6.87,19.90,1.450000,5.370000,1.450000,47.0
26529,24.38,74.090000,3.42,26.06,16.53,11.990000,0.52,12.72,30.14,0.740000,2.210000,0.380000,70.0
26530,15.00,66.000000,0.40,26.85,14.05,5.200000,0.59,2.10,17.05,3.229081,8.480804,3.246213,50.0

In [13]:
df.corr()

,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,Benzene,Toluene,Xylene,AQI
PM2.5,1.000000,0.527352,0.441391,0.347856,0.400212,0.164718,0.085383,0.124965,0.150070,0.013789,0.087406,0.069087,0.636046
PM10,0.527352,1.000000,0.436889,0.352100,0.427064,0.195421,0.042280,0.187502,0.199489,0.006805,0.089364,0.017727,0.467059
NO,0.441391,0.436889,1.000000,0.475732,0.779191,0.132440,0.221789,0.189025,0.015239,0.026097,0.110609,0.049693,0.439807
NO2,0.347856,0.352100,0.475732,1.000000,0.607870,0.154109,0.383160,0.425787,0.293147,0.020431,0.243581,0.138570,0.538148
NOx,0.400212,0.427064,0.779191,0.607870,1.000000,0.106695,0.254816,0.248526,0.093155,0.027883,0.153331,0.047217,0.463079
NH3,0.164718,0.195421,0.132440,0.154109,0.106695,1.000000,0.010532,-0.025944,0.074574,-0.015745,-0.011946,-0.004857,0.112446
CO,0.085383,0.042280,0.221789,0.383160,0.254816,0.010532,1.000000,0.498253,0.042230,0.047567,0.279358,0.136820,0.689041
SO2,0.124965,0.187502,0.189025,0.425787,0.248526,-0.025944,0.498253,1.000000,0.165660,0.037548,0.292317,0.230369,0.492535
O3,0.150070,0.199489,0.015239,0.293147,0.093155,0.074574,0.042230,0.165660,1.000000,0.019239,0.118980,0.084284,0.186974
Benzene,0.013789,0.006805,0.026097,0.020431,0.027883,-0.015745,0.047567,0.037548,0.019239,1.000000,0.726569,0.078938,0.039539
Toluene,0.087406,0.089364,0.110609,0.243581,0.153331,-0.011946,0.279358,0.292317,0.118980,0.726569,1.000000,0.245459,0.258641
Xylene,0.069087,0.017727,0.049693,0.138570,0.047217,-0.004857,0.136820,0.230369,0.084284,0.078938,0.245459,1.000000,0.139545
AQI,0.636046,0.467059,0.439807,0.538148,0.463079,0.112446,0.689041,0.492535,0.186974,0.039539,0.258641,0.139545,1.000000

In [15]:
df = df.drop(['Benzene'],axis = "columns")

In [16]:
df

,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,Toluene,Xylene,AQI
28,83.13,117.301377,6.93,28.71,33.72,24.054523,6.93,49.52,59.76,0.000000,3.140000,209.0
29,79.84,117.301377,13.85,28.68,41.08,24.054523,13.85,48.49,97.07,0.000000,4.810000,328.0
30,94.52,117.301377,24.39,32.66,52.61,24.054523,24.39,67.39,111.33,0.010000,7.670000,514.0
31,135.99,117.301377,43.48,42.08,84.57,24.054523,43.48,75.23,102.70,0.040000,25.870000,782.0
32,178.33,117.301377,54.56,35.31,72.80,24.054523,54.56,55.04,107.38,0.060000,35.610000,914.0
...,...,...,...,...,...,...,...,...,...,...,...,...
26526,33.17,108.220000,5.58,42.45,27.06,13.700000,0.73,13.65,34.85,10.240000,2.320000,95.0
26527,13.45,58.540000,2.30,21.60,13.09,12.270000,0.41,8.19,29.38,5.640000,0.920000,77.0
26528,7.63,32.270000,5.91,23.27,17.19,11.150000,0.46,6.87,19.90,5.370000,1.450000,47.0
26529,24.38,74.090000,3.42,26.06,16.53,11.990000,0.52,12.72,30.14,2.210000,0.380000,70.0
26530,15.00,66.000000,0.40,26.85,14.05,5.200000,0.59,2.10,17.05,8.480804,3.246213,50.0

In [17]:
scaler = MinMaxScaler()

In [18]:
x = df.drop(['AQI'],axis = 1)
y = df['AQI']

In [19]:
x

,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,Toluene,Xylene
28,83.13,117.301377,6.93,28.71,33.72,24.054523,6.93,49.52,59.76,0.000000,3.140000
29,79.84,117.301377,13.85,28.68,41.08,24.054523,13.85,48.49,97.07,0.000000,4.810000
30,94.52,117.301377,24.39,32.66,52.61,24.054523,24.39,67.39,111.33,0.010000,7.670000
31,135.99,117.301377,43.48,42.08,84.57,24.054523,43.48,75.23,102.70,0.040000,25.870000
32,178.33,117.301377,54.56,35.31,72.80,24.054523,54.56,55.04,107.38,0.060000,35.610000
...,...,...,...,...,...,...,...,...,...,...,...
26526,33.17,108.220000,5.58,42.45,27.06,13.700000,0.73,13.65,34.85,10.240000,2.320000
26527,13.45,58.540000,2.30,21.60,13.09,12.270000,0.41,8.19,29.38,5.640000,0.920000
26528,7.63,32.270000,5.91,23.27,17.19,11.150000,0.46,6.87,19.90,5.370000,1.450000
26529,24.38,74.090000,3.42,26.06,16.53,11.990000,0.52,12.72,30.14,2.210000,0.380000
26530,15.00,66.000000,0.40,26.85,14.05,5.200000,0.59,2.10,17.05,8.480804,3.246213

In [20]:
y

28       209.0
29       328.0
30       514.0
31       782.0
32       914.0
         ...
26526     95.0
26527     77.0
26528     47.0
26529     70.0
26530     50.0
Name: AQI, Length: 21850, dtype: float64

In [21]:
from sklearn.model_selection import train_test_split
xtrain, xtest, ytrain, ytest= train_test_split(x, y, test_size = 0.2, random_state = 42)

In [22]:
xtrain[['PM2.5','PM10','NO','NO2','NOx','NH3','CO','SO2','O3','Toluene','Xylene']]=scaler.fit_transform(xtrain[['PM2.5','PM10','NO','NO2','NOx','NH3','CO','SO2','O3','Toluene','Xylene']])

In [23]:
xtest[['PM2.5','PM10','NO','NO2','NOx','NH3','CO','SO2','O3','Toluene','Xylene']]=scaler.transform(xtest[['PM2.5','PM10','NO','NO2','NOx','NH3','CO','SO2','O3','Toluene','Xylene']])

In [61]:
from sklearn.linear_model import LinearRegression
from sklearn.svm import SVR
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import AdaBoostRegressor
from sklearn.ensemble import BaggingRegressor
from sklearn.ensemble import ExtraTreesRegressor
from sklearn.ensemble import GradientBoostingRegressor
from xgboost import XGBRegressor

In [62]:
svr = SVR(kernel='rbf')
dtc = DecisionTreeRegressor(max_depth=5)
lrc = LinearRegression()
rfc = RandomForestRegressor(n_estimators=50)
xgb = XGBRegressor(n_estimators=50,random_state=2)
abc = AdaBoostRegressor(n_estimators=50, random_state=2)
bc = BaggingRegressor(n_estimators=50, random_state=2)
etc = ExtraTreesRegressor(n_estimators=50, random_state=2)
gbdt = GradientBoostingRegressor(n_estimators=50,random_state=2)

In [63]:
clfs = {
    'SVR' : svr,
    'DT': dtc, 
    'LR': lrc, 
    'RF': rfc,
    'xgb':xgb,
    'AdaBoost': abc, 
    'BgC': bc, 
    'ETC': etc,
    'GBDT':gbdt
}

In [64]:
from sklearn.metrics import mean_squared_error

In [65]:
def train_classifier(clf,xtrain,ytrain,xtest,ytest):
    clf.fit(xtrain,ytrain)
    y_pred = clf.predict(xtest)
    mse=mean_squared_error(y_pred,ytest)
    rmse=np.sqrt(mse)
    return rmse

In [66]:
accuracy_scores = []
for name,clf in clfs.items():
    
    current_rmse = train_classifier(clf, xtrain,ytrain,xtest,ytest)
    
    print("For ",name)
    print("RMSE - ",current_rmse)
    
    accuracy_scores.append(current_rmse)

For  SVR
RMSE -  81.20439401954064
For  DT
RMSE -  52.55628649787797
For  LR
RMSE -  58.44169420351183
For  RF
RMSE -  41.70122842537354
For  xgb
RMSE -  43.26448070234272
For  AdaBoost
RMSE -  163.246293947551
For  BgC
RMSE -  41.16204335860753
For  ETC
RMSE -  42.06568418433735
For  GBDT
RMSE -  45.175516771198296

In [67]:
df2  = pd.read_csv("Dataset_2.csv")

In [68]:
df2.isnull().sum()

City       0
Date       0
PM2.5      0
PM10       0
NO         0
NO2        0
NOx        0
NH3        0
CO         0
SO2        0
O3         0
Benzene    0
Toluene    0
Xylene     0
AQI        0
dtype: int64

In [69]:
df2[['PM2.5','PM10','NO','NO2','NOx','NH3','CO','SO2','O3','Toluene','Xylene']] = scaler.transform(df2[['PM2.5','PM10','NO','NO2','NOx','NH3','CO','SO2','O3','Toluene','Xylene']])
df2

,City,Date,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,Benzene,Toluene,Xylene,AQI
0,Hyderabad,2018-02-19,0.050351,0.122698,0.010598,0.121894,0.070564,0.062150,0.005299,0.039662,0.274237,1.28,0.014532,0.010096,111
1,Amritsar,2019-05-17,0.041704,0.105534,0.052093,0.041137,0.091133,0.036214,0.005023,0.086473,0.062907,4.09,0.004881,0.055468,99
2,Kolkata,2019-10-26,0.036260,0.069386,0.025906,0.072584,0.096288,0.032748,0.004542,0.036169,0.075530,19.16,0.073914,0.013030,54
3,Patna,2020-02-10,0.105883,0.193261,0.163292,0.148951,0.305335,0.094198,0.009359,0.051486,0.072892,2.37,0.020864,0.022657,226
4,Amritsar,2018-03-06,0.052078,0.093506,0.027416,0.013390,0.059803,0.021436,0.004335,0.015317,0.131143,8.82,0.011564,0.021600,73
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2995,Hyderabad,2019-01-24,0.064562,0.122665,0.010239,0.110491,0.061865,0.056495,0.003991,0.029344,0.152199,1.58,0.016577,0.005341,112
2996,Chandigarh,2019-09-20,0.044000,0.074020,0.026853,0.010906,0.033815,0.011402,0.003785,0.053528,0.147905,4.46,0.004441,0.008687,71
2997,Visakhapatnam,2017-02-10,0.098373,0.172826,0.028465,0.138377,0.094464,0.038768,0.006537,0.058741,0.170460,0.00,0.000000,0.000000,228
2998,Amaravati,2019-12-04,0.084621,0.124770,0.007756,0.040861,0.027654,0.062941,0.005712,0.080507,0.291981,0.36,0.003716,0.000646,156
2999,Delhi,2019-12-24,0.286987,0.437272,0.097248,0.156571,0.170421,0.162035,0.012111,0.046703,0.145680,5.75,0.084182,0.004813,376

In [70]:
x_test = df2.drop(['City','AQI','Date','Benzene'],axis = "columns")

In [71]:
x_test

,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,Toluene,Xylene
0,0.050351,0.122698,0.010598,0.121894,0.070564,0.062150,0.005299,0.039662,0.274237,0.014532,0.010096
1,0.041704,0.105534,0.052093,0.041137,0.091133,0.036214,0.005023,0.086473,0.062907,0.004881,0.055468
2,0.036260,0.069386,0.025906,0.072584,0.096288,0.032748,0.004542,0.036169,0.075530,0.073914,0.013030
3,0.105883,0.193261,0.163292,0.148951,0.305335,0.094198,0.009359,0.051486,0.072892,0.020864,0.022657
4,0.052078,0.093506,0.027416,0.013390,0.059803,0.021436,0.004335,0.015317,0.131143,0.011564,0.021600
...,...,...,...,...,...,...,...,...,...,...,...
2995,0.064562,0.122665,0.010239,0.110491,0.061865,0.056495,0.003991,0.029344,0.152199,0.016577,0.005341
2996,0.044000,0.074020,0.026853,0.010906,0.033815,0.011402,0.003785,0.053528,0.147905,0.004441,0.008687
2997,0.098373,0.172826,0.028465,0.138377,0.094464,0.038768,0.006537,0.058741,0.170460,0.000000,0.000000
2998,0.084621,0.124770,0.007756,0.040861,0.027654,0.062941,0.005712,0.080507,0.291981,0.003716,0.000646
2999,0.286987,0.437272,0.097248,0.156571,0.170421,0.162035,0.012111,0.046703,0.145680,0.084182,0.004813

In [72]:
y_test = df2['AQI']

In [105]:
y_pred = bc.predict(x_test)
y_pred

array([107.36,  96.9 ,  76.48, ..., 202.16, 162.58, 438.76])

In [106]:
y_test

0       111
1        99
2        54
3       226
4        73
       ...
2995    112
2996     71
2997    228
2998    156
2999    376
Name: AQI, Length: 3000, dtype: int64

In [107]:
from sklearn.metrics import mean_squared_error

In [108]:
mse = mean_squared_error(y_test,y_pred)

In [109]:
rmse = np.sqrt(mse)

In [110]:
rmse

23.239127267380532